<configuration>
	<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	<probing privatePath="DLL" />
	</assemblyBinding>
	</runtime>

	<appSettings>
	
	<add key="server_version"		value="10-26-2020"/>

	
	<add key="vertex_shader"		value="Shaders/Vertex.glsl"/>
	<add key="fragment_shader"		value="Shaders/Fragment.glsl"/>

	<add key="serial_port"			value="COM66"/>
	<add key="serial_baud"			value="115200"/>
	<add key="serial_packet_start"	value="0"/>
	<add key="serial_packet_length"	value="80"/>

	<add key="scene_config"			value="DefaultScene.cfg"/>
		
	</appSettings>

</configuration>
